# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
.yarn/versions
.pnp.*

# Dependencies & compiled output
**/node_modules
**/.pnp.*
**/.terraform
**/*.tsbuildinfo
**/vite.config.mts.timestamp*
**/vitest.config.mts.timestamp*
lib
build
dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# macOS
.DS_Store

# Tests
/coverage
/.nyc_output


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environments
**/.env*

# Others
lerna-debug.log
npm-debug.log
tsconfig.tsbuildinfo
.n

# Local & temporary files
.local
.tmp
tmp

# Storybook & Chromatic
**/storybook.log
**/storybook-static
**/build-storybook.log
**/chromatic.log
**/chromatic-build-*.xml
**/chromatic-diagnostics.json

# workspace root Turbo files
/.turbo/cookies
/.turbo/daemon
/.turbo/cache
/.turbo/preferences/tui.json

# local DBs
*.db
*.db-shm
*.db-wal
*.db-wal2