openapi: 3.1.0
info:
  title: Luma API
  version: 1.0.0
  description: API for interacting with Luma's event platform
  contact:
    name: Luma Support
    url: https://help.lu.ma
  license:
    name: Proprietary
servers:
  - url: https://public-api.lu.ma
    description: Production server
paths:
  /public/v1/calendar/lookup-event:
    get:
      tags:
        - Calendars
      summary: Lookup Event
      parameters:
        - name: platform
          in: query
          required: false
          schema:
            type: string
            enum:
              - external
              - luma
        - name: url
          in: query
          required: false
          schema:
            type: string
        - name: event_api_id
          in: query
          required: false
          schema:
            type: string
      description: >-
        See if an event already exists on the calendar. This is useful when
        figuring out if you want to submit an event to the calendar.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GetPublicV1CalendarLookupEventResponseSchema
  /public/v1/calendar/list-people:
    get:
      tags:
        - Calendars
      summary: List People
      parameters:
        - name: query
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetPublicV1CalendarListPeopleQuerySchema'
          description: Search over names and emails.
        - name: calendar_membership_tier_api_id
          in: query
          required: false
          schema:
            $ref: >-
              #/components/schemas/GetPublicV1CalendarListPeopleCalendarMembershipTierApiIdSchema
        - name: member_status
          in: query
          required: false
          schema:
            $ref: >-
              #/components/schemas/GetPublicV1CalendarListPeopleMemberStatusSchema
          description: >-
            This is relevant for Calendar Memberships but not relevant
            otherwise.
        - name: sort_direction
          in: query
          required: false
          schema:
            enum:
              - asc
              - desc
              - asc nulls last
              - desc nulls last
            type: string
        - name: sort_column
          in: query
          required: false
          schema:
            enum:
              - created_at
              - event_checked_in_count
              - event_approved_count
              - name
              - revenue_usd_cents
            type: string
        - name: pagination_cursor
          in: query
          required: false
          schema:
            description: Value of `next_cursor` from a previous request.
            type: string
          description: Value of `next_cursor` from a previous request.
        - name: pagination_limit
          in: query
          required: false
          schema:
            description: >-
              The number of items to return. The server will enforce a maximum
              number.
            type: number
          description: >-
            The number of items to return. The server will enforce a maximum
            number.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GetPublicV1CalendarListPeopleResponseSchema
  /public/v1/calendar/coupons:
    get:
      tags:
        - Calendars
      summary: List Calendar Coupons
      parameters:
        - name: pagination_cursor
          in: query
          required: false
          schema:
            description: Value of `next_cursor` from a previous request.
            type: string
          description: Value of `next_cursor` from a previous request.
        - name: pagination_limit
          in: query
          required: false
          schema:
            description: >-
              The number of items to return. The server will enforce a maximum
              number.
            type: number
          description: >-
            The number of items to return. The server will enforce a maximum
            number.
      description: List all coupons that have been created for a calendar.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublicV1CalendarCouponsResponseSchema'
  /public/v1/calendar/list-events:
    get:
      tags:
        - Calendars
      summary: List Events
      parameters:
        - name: before
          in: query
          required: false
          schema:
            description: ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z
            type: string
            format: date-time
            pattern: >-
              ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
          description: ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z
        - name: after
          in: query
          required: false
          schema:
            description: ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z
            type: string
            format: date-time
            pattern: >-
              ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
          description: ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z
        - name: sort_direction
          in: query
          required: false
          schema:
            enum:
              - asc
              - desc
              - asc nulls last
              - desc nulls last
            type: string
        - name: sort_column
          in: query
          required: false
          schema:
            enum:
              - start_at
            type: string
        - name: pagination_cursor
          in: query
          required: false
          schema:
            description: Value of `next_cursor` from a previous request.
            type: string
          description: Value of `next_cursor` from a previous request.
        - name: pagination_limit
          in: query
          required: false
          schema:
            description: >-
              The number of items to return. The server will enforce a maximum
              number.
            type: number
          description: >-
            The number of items to return. The server will enforce a maximum
            number.
      description: >-
        Every event and API key on Luma is managed by a [Luma
        Calendar](https://help.lu.ma/p/helpart-hJI2JawEcFaH6he/luma-calendar-overview).
        You can list all of the events managed by your Calendar by using this
        API route.


        Note that this API route will not list events that are listed on the
        Calendar but not managed by the Calendar.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GetPublicV1CalendarListEventsResponseSchema
  /public/v1/calendar/coupons/create:
    post:
      tags:
        - Calendars
      summary: Create Coupon
      description: >-
        Create a coupon that can be applied to any event that is managed by the
        calendar. Be careful not to have the same code on an event and on the
        calendar.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostPublicV1CalendarCouponsCreateRequestSchema
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostPublicV1CalendarCouponsCreateResponseSchema
  /public/v1/calendar/coupons/update:
    post:
      tags:
        - Calendars
      summary: Update Coupon
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostPublicV1CalendarCouponsUpdateRequestSchema
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostPublicV1CalendarCouponsUpdateResponseSchema
  /public/v1/calendar/import-people:
    post:
      tags:
        - Calendars
      summary: Import People
      description: >-
        Import people to your calendar to easily invite them to events and send
        them newsletters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostPublicV1CalendarImportPeopleRequestSchema
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostPublicV1CalendarImportPeopleResponseSchema
  /public/v1/calendar/create-person-tag:
    post:
      tags:
        - Calendars
      summary: Create Person Tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostPublicV1CalendarCreatePersonTagRequestSchema
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostPublicV1CalendarCreatePersonTagResponseSchema
  /public/v1/calendar/update-person-tag:
    post:
      tags:
        - Calendars
      summary: Update Person Tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostPublicV1CalendarUpdatePersonTagRequestSchema
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostPublicV1CalendarUpdatePersonTagResponseSchema
  /public/v1/calendar/delete-person-tag:
    post:
      tags:
        - Calendars
      summary: Delete Person Tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostPublicV1CalendarDeletePersonTagRequestSchema
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostPublicV1CalendarDeletePersonTagResponseSchema
  /public/v1/calendar/add-event:
    post:
      tags:
        - Calendars
      summary: Add Event
      description: >-
        Add an existing event (on Luma or on an external platform) to the Luma
        calendar. This will _not_ make the event managed by the calendar.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPublicV1CalendarAddEventRequestSchema'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostPublicV1CalendarAddEventResponseSchema
  /public/v1/calendar/list-person-tags:
    get:
      tags:
        - Calendars
      summary: List Person Tags
      parameters:
        - name: sort_direction
          in: query
          required: false
          schema:
            enum:
              - asc
              - desc
              - asc nulls last
              - desc nulls last
            type: string
        - name: sort_column
          in: query
          required: false
          schema:
            enum:
              - name
              - color
              - created_at
            type: string
        - name: pagination_cursor
          in: query
          required: false
          schema:
            description: Value of `next_cursor` from a previous request.
            type: string
          description: Value of `next_cursor` from a previous request.
        - name: pagination_limit
          in: query
          required: false
          schema:
            description: >-
              The number of items to return. The server will enforce a maximum
              number.
            type: number
          description: >-
            The number of items to return. The server will enforce a maximum
            number.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GetPublicV1CalendarListPersonTagsResponseSchema
  /public/v1/entity/lookup:
    get:
      tags:
        - Miscellaneous
      summary: Lookup Entity
      parameters:
        - name: slug
          in: query
          required: true
          schema:
            type: string
      description: Lookup an entity on Luma by it's slug.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublicV1EntityLookupResponseSchema'
  /public/v1/event/get:
    get:
      tags:
        - Events
      summary: Get Event
      parameters:
        - name: api_id
          in: query
          required: true
          schema:
            type: string
      description: Return admin information about an event that you have manage access for.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublicV1EventGetResponseSchema'
  /public/v1/event/get-guest:
    get:
      tags:
        - Events
      summary: Get Guest
      parameters:
        - name: event_api_id
          in: query
          required: false
          schema:
            type: string
        - name: api_id
          in: query
          required: false
          schema:
            description: This is the API ID of the guest (not the user).
            type: string
          description: This is the API ID of the guest (not the user).
        - name: email
          in: query
          required: false
          schema:
            type: string
        - name: proxy_key
          in: query
          required: false
          schema:
            description: In the check in QR code, this is the value of the `pk` parameter.
            type: string
          description: In the check in QR code, this is the value of the `pk` parameter.
      description: Get a guest by their Guest API ID, email or Proxy Key.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublicV1EventGetGuestResponseSchema'
  /public/v1/event/get-guests:
    get:
      tags:
        - Events
      summary: Get Guests
      parameters:
        - name: event_api_id
          in: query
          required: true
          schema:
            type: string
        - name: approval_status
          in: query
          required: false
          schema:
            enum:
              - approved
              - session
              - pending_approval
              - invited
              - declined
              - waitlist
            type: string
        - name: sort_direction
          in: query
          required: false
          schema:
            enum:
              - asc
              - desc
              - asc nulls last
              - desc nulls last
            type: string
        - name: sort_column
          in: query
          required: false
          schema:
            enum:
              - name
              - email
              - created_at
              - registered_at
              - checked_in_at
            type: string
        - name: pagination_cursor
          in: query
          required: false
          schema:
            description: Value of `next_cursor` from a previous request.
            type: string
          description: Value of `next_cursor` from a previous request.
        - name: pagination_limit
          in: query
          required: false
          schema:
            description: >-
              The number of items to return. The server will enforce a maximum
              number.
            type: number
          description: >-
            The number of items to return. The server will enforce a maximum
            number.
      description: Get list of guests who have registered or been invited to an event.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublicV1EventGetGuestsResponseSchema'
  /public/v1/event/create:
    post:
      tags:
        - Events
      summary: Create Event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPublicV1EventCreateRequestSchema'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPublicV1EventCreateResponseSchema'
  /public/v1/event/update:
    post:
      tags:
        - Events
      summary: Update Event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPublicV1EventUpdateRequestSchema'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPublicV1EventUpdateResponseSchema'
  /public/v1/event/update-guest-status:
    post:
      tags:
        - Events
      summary: Update Guest Status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostPublicV1EventUpdateGuestStatusRequestSchema
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostPublicV1EventUpdateGuestStatusResponseSchema
  /public/v1/event/send-invites:
    post:
      tags:
        - Events
      summary: Send Invites
      description: >-
        Send guest an invite to an event. We will send an email and if there
        phone number is linked to their Luma account, they will also receive an
        SMS.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPublicV1EventSendInvitesRequestSchema'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostPublicV1EventSendInvitesResponseSchema
  /public/v1/event/add-guests:
    post:
      tags:
        - Events
      summary: Add Guests
      description: Add a guest to the event. They will be added with the status "Going".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPublicV1EventAddGuestsRequestSchema'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPublicV1EventAddGuestsResponseSchema'
  /public/v1/event/add-host:
    post:
      tags:
        - Events
      summary: Add Host
      description: >-
        Name of the host you are adding. If they already have a Luma profile,
        this will be ignored.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPublicV1EventAddHostRequestSchema'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPublicV1EventAddHostResponseSchema'
  /public/v1/event/create-coupon:
    post:
      tags:
        - Events
      summary: Create Coupon
      description: >-
        Create a coupon that can be applied when a guest is registering for an
        event. You are not able to edit the coupon terms after it has been
        created.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPublicV1EventCreateCouponRequestSchema'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostPublicV1EventCreateCouponResponseSchema
  /public/v1/event/update-coupon:
    post:
      tags:
        - Events
      summary: Update Coupon
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPublicV1EventUpdateCouponRequestSchema'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostPublicV1EventUpdateCouponResponseSchema
  /public/v1/event/coupons:
    get:
      tags:
        - Events
      summary: List Event Coupons
      parameters:
        - name: event_api_id
          in: query
          required: true
          schema:
            type: string
        - name: pagination_cursor
          in: query
          required: false
          schema:
            description: Value of `next_cursor` from a previous request.
            type: string
          description: Value of `next_cursor` from a previous request.
        - name: pagination_limit
          in: query
          required: false
          schema:
            description: >-
              The number of items to return. The server will enforce a maximum
              number.
            type: number
          description: >-
            The number of items to return. The server will enforce a maximum
            number.
      description: List all coupons that have been created for an event..
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublicV1EventCouponsResponseSchema'
  /public/v1/images/create-upload-url:
    post:
      tags:
        - Miscellaneous
      summary: Create Upload URL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostPublicV1ImagesCreateUploadUrlRequestSchema
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostPublicV1ImagesCreateUploadUrlResponseSchema
  /public/v1/user/get-self:
    get:
      tags:
        - Miscellaneous
      summary: Get Self
      parameters: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublicV1UserGetSelfResponseSchema'
security:
  - apiKeyAuth: []
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-luma-api-key
      description: >-
        API key to authenticate requests to the Luma API. Generate an API key on
        your Luma dashboard.
  schemas:
    GetPublicV1EventGetResponseSchema:
      type: object
      properties:
        event:
          type: object
          properties:
            api_id:
              type: string
            created_at:
              description: ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z
              type: string
              format: date-time
              pattern: >-
                ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
            cover_url:
              type: string
            calendar_api_id:
              type: string
            description:
              type: string
            description_md:
              type: string
            duration_interval:
              type: string
            end_at:
              description: ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z
              type: string
              format: date-time
              pattern: >-
                ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
            geo_address_json:
              anyOf:
                - type: object
                  properties:
                    address:
                      type: string
                  required:
                    - address
                - type: 'null'
            geo_latitude:
              anyOf:
                - type: string
                - type: 'null'
            geo_longitude:
              anyOf:
                - type: string
                - type: 'null'
            meeting_url:
              anyOf:
                - type: string
                - type: 'null'
            name:
              type: string
            start_at:
              description: ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z
              type: string
              format: date-time
              pattern: >-
                ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
            timezone:
              description: >-
                IANA Timezone, e.g. America/New_York.
                https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
              type: string
            url:
              type: string
            user_api_id:
              type: string
            visibility:
              enum:
                - public
                - members-only
                - private
            zoom_meeting_url:
              anyOf:
                - type: string
                - type: 'null'
          required:
            - api_id
            - created_at
            - cover_url
            - calendar_api_id
            - description
            - description_md
            - duration_interval
            - end_at
            - geo_address_json
            - geo_latitude
            - geo_longitude
            - meeting_url
            - name
            - start_at
            - timezone
            - url
            - user_api_id
            - visibility
            - zoom_meeting_url
        hosts:
          type: array
          items:
            type: object
            properties:
              api_id:
                type: string
              email:
                type: string
              name:
                anyOf:
                  - type: string
                  - type: 'null'
              first_name:
                anyOf:
                  - type: string
                  - type: 'null'
              last_name:
                anyOf:
                  - type: string
                  - type: 'null'
              avatar_url:
                type: string
            required:
              - api_id
              - email
              - name
              - first_name
              - last_name
              - avatar_url
      required:
        - event
        - hosts
    GetPublicV1CalendarListEventsResponseSchema:
      type: object
      properties:
        entries:
          type: array
          items:
            type: object
            properties:
              api_id:
                type: string
              event:
                type: object
                properties:
                  api_id:
                    type: string
                  created_at:
                    description: ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z
                    type: string
                    format: date-time
                    pattern: >-
                      ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
                  cover_url:
                    type: string
                  calendar_api_id:
                    type: string
                  description:
                    type: string
                  description_md:
                    type: string
                  duration_interval:
                    type: string
                  end_at:
                    description: ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z
                    type: string
                    format: date-time
                    pattern: >-
                      ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
                  geo_address_json:
                    anyOf:
                      - type: object
                        properties:
                          address:
                            type: string
                        required:
                          - address
                      - type: 'null'
                  geo_latitude:
                    anyOf:
                      - type: string
                      - type: 'null'
                  geo_longitude:
                    anyOf:
                      - type: string
                      - type: 'null'
                  meeting_url:
                    anyOf:
                      - type: string
                      - type: 'null'
                  name:
                    type: string
                  start_at:
                    description: ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z
                    type: string
                    format: date-time
                    pattern: >-
                      ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
                  timezone:
                    description: >-
                      IANA Timezone, e.g. America/New_York.
                      https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
                    type: string
                  url:
                    type: string
                  user_api_id:
                    type: string
                  visibility:
                    enum:
                      - public
                      - members-only
                      - private
                  zoom_meeting_url:
                    anyOf:
                      - type: string
                      - type: 'null'
                required:
                  - api_id
                  - created_at
                  - cover_url
                  - calendar_api_id
                  - description
                  - description_md
                  - duration_interval
                  - end_at
                  - geo_address_json
                  - geo_latitude
                  - geo_longitude
                  - meeting_url
                  - name
                  - start_at
                  - timezone
                  - url
                  - user_api_id
                  - visibility
                  - zoom_meeting_url
              tags:
                type: array
                items:
                  type: object
                  properties:
                    api_id:
                      type: string
                    name:
                      type: string
                  required:
                    - api_id
                    - name
            required:
              - api_id
              - event
              - tags
        has_more:
          type: boolean
        next_cursor:
          type: string
      required:
        - entries
        - has_more
    GetPublicV1EventGetGuestResponseSchema:
      type: object
      properties:
        guest:
          type: object
          properties:
            api_id:
              type: string
            user_api_id:
              type: string
            user_email:
              type: string
            user_name:
              anyOf:
                - type: string
                - type: 'null'
            user_first_name:
              anyOf:
                - type: string
                - type: 'null'
            user_last_name:
              anyOf:
                - type: string
                - type: 'null'
            approval_status:
              enum:
                - approved
                - session
                - pending_approval
                - invited
                - declined
                - waitlist
            check_in_qr_code:
              type: string
            checked_in_at:
              anyOf:
                - description: ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z
                  type: string
                  format: date-time
                  pattern: >-
                    ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
                - type: 'null'
            custom_source:
              anyOf:
                - type: string
                - type: 'null'
            eth_address:
              anyOf:
                - type: string
                  format: regex
                  pattern: ^0x[0-9a-fA-F]{40}$
                - type: 'null'
            invited_at:
              anyOf:
                - description: ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z
                  type: string
                  format: date-time
                  pattern: >-
                    ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
                - type: 'null'
            joined_at:
              anyOf:
                - description: ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z
                  type: string
                  format: date-time
                  pattern: >-
                    ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
                - type: 'null'
            phone_number:
              anyOf:
                - type: string
                - type: 'null'
            registered_at:
              anyOf:
                - description: ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z
                  type: string
                  format: date-time
                  pattern: >-
                    ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
                - type: 'null'
            registration_answers:
              anyOf:
                - type: array
                  items:
                    anyOf:
                      - type: object
                        properties:
                          answer:
                            type: boolean
                          label:
                            type: string
                          question_id:
                            type: string
                          question_type:
                            const: agree-check
                        required:
                          - answer
                          - label
                          - question_id
                          - question_type
                      - type: object
                        properties:
                          answer:
                            anyOf:
                              - type: string
                              - type: 'null'
                          label:
                            type: string
                          question_id:
                            type: string
                          question_type:
                            const: dropdown
                        required:
                          - answer
                          - label
                          - question_id
                          - question_type
                      - type: object
                        properties:
                          answer:
                            anyOf:
                              - type: array
                                items:
                                  type: string
                              - type: 'null'
                          label:
                            type: string
                          question_id:
                            type: string
                          question_type:
                            const: multi-select
                        required:
                          - answer
                          - label
                          - question_id
                          - question_type
                      - type: object
                        properties:
                          answer:
                            anyOf:
                              - type: string
                              - type: 'null'
                          label:
                            type: string
                          question_id:
                            type: string
                          question_type:
                            const: phone-number
                        required:
                          - label
                          - question_id
                          - question_type
                      - type: object
                        properties:
                          answer:
                            anyOf:
                              - type: string
                              - const: true
                          label:
                            type: string
                          question_id:
                            type: string
                          question_type:
                            const: terms
                        required:
                          - answer
                          - label
                          - question_id
                          - question_type
                      - type: object
                        properties:
                          answer:
                            anyOf:
                              - type: string
                              - type: 'null'
                          label:
                            type: string
                          question_id:
                            type: string
                          question_type:
                            anyOf:
                              - const: company
                              - const: dropdown
                              - const: instagram
                              - const: linkedin
                              - const: long-text
                              - const: multi-select
                              - const: phone-number
                              - const: terms
                              - const: text
                              - const: twitter
                              - const: youtube
                        required:
                          - answer
                          - label
                          - question_id
                          - question_type
                      - type: object
                        properties:
                          answer:
                            anyOf:
                              - type: string
                              - type: 'null'
                          label:
                            type: string
                          question_id:
                            type: string
                          question_type:
                            const: url
                        required:
                          - answer
                          - label
                          - question_id
                          - question_type
                - type: 'null'
            solana_address:
              anyOf:
                - type: string
                  format: regex
                  pattern: ^[5KL1-9A-HJ-NP-Za-km-z]{32,44}$
                - type: 'null'
            event_tickets:
              type: array
              items:
                type: object
                properties:
                  api_id:
                    type: string
                  amount:
                    type: number
                  amount_discount:
                    type: number
                  amount_tax:
                    type: number
                  currency:
                    anyOf:
                      - enum:
                          - solana_sol
                          - solana_usdc
                          - aed
                          - afn
                          - all
                          - amd
                          - ang
                          - aoa
                          - ars
                          - aud
                          - awg
                          - azn
                          - bam
                          - bbd
                          - bdt
                          - bgn
                          - bhd
                          - bif
                          - bmd
                          - bnd
                          - bob
                          - brl
                          - bsd
                          - bwp
                          - byn
                          - bzd
                          - cad
                          - cdf
                          - chf
                          - clp
                          - cny
                          - cop
                          - crc
                          - cve
                          - czk
                          - djf
                          - dkk
                          - dop
                          - dzd
                          - egp
                          - etb
                          - eur
                          - fjd
                          - fkp
                          - gbp
                          - gel
                          - ghs
                          - gip
                          - gmd
                          - gnf
                          - gtq
                          - gyd
                          - hkd
                          - hnl
                          - htg
                          - huf
                          - idr
                          - ils
                          - inr
                          - isk
                          - jmd
                          - jod
                          - jpy
                          - kes
                          - kgs
                          - khr
                          - kmf
                          - krw
                          - kwd
                          - kyd
                          - kzt
                          - lak
                          - lbp
                          - lkr
                          - lrd
                          - lsl
                          - mad
                          - mdl
                          - mga
                          - mkd
                          - mmk
                          - mnt
                          - mop
                          - mur
                          - mvr
                          - mwk
                          - mxn
                          - myr
                          - mzn
                          - nad
                          - ngn
                          - nio
                          - nok
                          - npr
                          - nzd
                          - omr
                          - pab
                          - pen
                          - pgk
                          - php
                          - pkr
                          - pln
                          - pyg
                          - qar
                          - ron
                          - rsd
                          - rub
                          - rwf
                          - sar
                          - sbd
                          - scr
                          - sek
                          - sgd
                          - shp
                          - sle
                          - sos
                          - srd
                          - std
                          - szl
                          - thb
                          - tjs
                          - tnd
                          - top
                          - try
                          - ttd
                          - twd
                          - tzs
                          - uah
                          - ugx
                          - usd
                          - uyu
                          - uzs
                          - vnd
                          - vuv
                          - wst
                          - xaf
                          - xcd
                          - xof
                          - xpf
                          - yer
                          - zar
                          - zmw
                      - type: 'null'
                  checked_in_at:
                    anyOf:
                      - description: >-
                          ISO 8601 Datetime. For example,
                          2022-10-19T03:27:13.673Z
                        type: string
                        format: date-time
                        pattern: >-
                          ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
                      - type: 'null'
                  event_ticket_type_api_id:
                    type: string
                  is_captured:
                    type: boolean
                  name:
                    type: string
                required:
                  - api_id
                  - amount
                  - amount_discount
                  - amount_tax
                  - currency
                  - checked_in_at
                  - event_ticket_type_api_id
                  - is_captured
                  - name
            event_ticket:
              anyOf:
                - type: object
                  properties:
                    api_id:
                      type: string
                    amount:
                      type: number
                    amount_discount:
                      type: number
                    amount_tax:
                      type: number
                    currency:
                      anyOf:
                        - enum:
                            - solana_sol
                            - solana_usdc
                            - aed
                            - afn
                            - all
                            - amd
                            - ang
                            - aoa
                            - ars
                            - aud
                            - awg
                            - azn
                            - bam
                            - bbd
                            - bdt
                            - bgn
                            - bhd
                            - bif
                            - bmd
                            - bnd
                            - bob
                            - brl
                            - bsd
                            - bwp
                            - byn
                            - bzd
                            - cad
                            - cdf
                            - chf
                            - clp
                            - cny
                            - cop
                            - crc
                            - cve
                            - czk
                            - djf
                            - dkk
                            - dop
                            - dzd
                            - egp
                            - etb
                            - eur
                            - fjd
                            - fkp
                            - gbp
                            - gel
                            - ghs
                            - gip
                            - gmd
                            - gnf
                            - gtq
                            - gyd
                            - hkd
                            - hnl
                            - htg
                            - huf
                            - idr
                            - ils
                            - inr
                            - isk
                            - jmd
                            - jod
                            - jpy
                            - kes
                            - kgs
                            - khr
                            - kmf
                            - krw
                            - kwd
                            - kyd
                            - kzt
                            - lak
                            - lbp
                            - lkr
                            - lrd
                            - lsl
                            - mad
                            - mdl
                            - mga
                            - mkd
                            - mmk
                            - mnt
                            - mop
                            - mur
                            - mvr
                            - mwk
                            - mxn
                            - myr
                            - mzn
                            - nad
                            - ngn
                            - nio
                            - nok
                            - npr
                            - nzd
                            - omr
                            - pab
                            - pen
                            - pgk
                            - php
                            - pkr
                            - pln
                            - pyg
                            - qar
                            - ron
                            - rsd
                            - rub
                            - rwf
                            - sar
                            - sbd
                            - scr
                            - sek
                            - sgd
                            - shp
                            - sle
                            - sos
                            - srd
                            - std
                            - szl
                            - thb
                            - tjs
                            - tnd
                            - top
                            - try
                            - ttd
                            - twd
                            - tzs
                            - uah
                            - ugx
                            - usd
                            - uyu
                            - uzs
                            - vnd
                            - vuv
                            - wst
                            - xaf
                            - xcd
                            - xof
                            - xpf
                            - yer
                            - zar
                            - zmw
                        - type: 'null'
                    checked_in_at:
                      anyOf:
                        - description: >-
                            ISO 8601 Datetime. For example,
                            2022-10-19T03:27:13.673Z
                          type: string
                          format: date-time
                          pattern: >-
                            ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
                        - type: 'null'
                    event_ticket_type_api_id:
                      type: string
                    is_captured:
                      type: boolean
                    name:
                      type: string
                  required:
                    - api_id
                    - amount
                    - amount_discount
                    - amount_tax
                    - currency
                    - checked_in_at
                    - event_ticket_type_api_id
                    - is_captured
                    - name
                - type: 'null'
            event_ticket_orders:
              type: array
              items:
                type: object
                properties:
                  api_id:
                    type: string
                  amount:
                    type: number
                  amount_discount:
                    type: number
                  amount_tax:
                    type: number
                  currency:
                    anyOf:
                      - enum:
                          - solana_sol
                          - solana_usdc
                          - aed
                          - afn
                          - all
                          - amd
                          - ang
                          - aoa
                          - ars
                          - aud
                          - awg
                          - azn
                          - bam
                          - bbd
                          - bdt
                          - bgn
                          - bhd
                          - bif
                          - bmd
                          - bnd
                          - bob
                          - brl
                          - bsd
                          - bwp
                          - byn
                          - bzd
                          - cad
                          - cdf
                          - chf
                          - clp
                          - cny
                          - cop
                          - crc
                          - cve
                          - czk
                          - djf
                          - dkk
                          - dop
                          - dzd
                          - egp
                          - etb
                          - eur
                          - fjd
                          - fkp
                          - gbp
                          - gel
                          - ghs
                          - gip
                          - gmd
                          - gnf
                          - gtq
                          - gyd
                          - hkd
                          - hnl
                          - htg
                          - huf
                          - idr
                          - ils
                          - inr
                          - isk
                          - jmd
                          - jod
                          - jpy
                          - kes
                          - kgs
                          - khr
                          - kmf
                          - krw
                          - kwd
                          - kyd
                          - kzt
                          - lak
                          - lbp
                          - lkr
                          - lrd
                          - lsl
                          - mad
                          - mdl
                          - mga
                          - mkd
                          - mmk
                          - mnt
                          - mop
                          - mur
                          - mvr
                          - mwk
                          - mxn
                          - myr
                          - mzn
                          - nad
                          - ngn
                          - nio
                          - nok
                          - npr
                          - nzd
                          - omr
                          - pab
                          - pen
                          - pgk
                          - php
                          - pkr
                          - pln
                          - pyg
                          - qar
                          - ron
                          - rsd
                          - rub
                          - rwf
                          - sar
                          - sbd
                          - scr
                          - sek
                          - sgd
                          - shp
                          - sle
                          - sos
                          - srd
                          - std
                          - szl
                          - thb
                          - tjs
                          - tnd
                          - top
                          - try
                          - ttd
                          - twd
                          - tzs
                          - uah
                          - ugx
                          - usd
                          - uyu
                          - uzs
                          - vnd
                          - vuv
                          - wst
                          - xaf
                          - xcd
                          - xof
                          - xpf
                          - yer
                          - zar
                          - zmw
                      - type: 'null'
                  coupon_info:
                    anyOf:
                      - type: object
                        properties:
                          api_id:
                            type: string
                          percent_off:
                            anyOf:
                              - type: number
                              - type: 'null'
                          cents_off:
                            anyOf:
                              - type: number
                              - type: 'null'
                          currency:
                            anyOf:
                              - enum:
                                  - solana_sol
                                  - solana_usdc
                                  - aed
                                  - afn
                                  - all
                                  - amd
                                  - ang
                                  - aoa
                                  - ars
                                  - aud
                                  - awg
                                  - azn
                                  - bam
                                  - bbd
                                  - bdt
                                  - bgn
                                  - bhd
                                  - bif
                                  - bmd
                                  - bnd
                                  - bob
                                  - brl
                                  - bsd
                                  - bwp
                                  - byn
                                  - bzd
                                  - cad
                                  - cdf
                                  - chf
                                  - clp
                                  - cny
                                  - cop
                                  - crc
                                  - cve
                                  - czk
                                  - djf
                                  - dkk
                                  - dop
                                  - dzd
                                  - egp
                                  - etb
                                  - eur
                                  - fjd
                                  - fkp
                                  - gbp
                                  - gel
                                  - ghs
                                  - gip
                                  - gmd
                                  - gnf
                                  - gtq
                                  - gyd
                                  - hkd
                                  - hnl
                                  - htg
                                  - huf
                                  - idr
                                  - ils
                                  - inr
                                  - isk
                                  - jmd
                                  - jod
                                  - jpy
                                  - kes
                                  - kgs
                                  - khr
                                  - kmf
                                  - krw
                                  - kwd
                                  - kyd
                                  - kzt
                                  - lak
                                  - lbp
                                  - lkr
                                  - lrd
                                  - lsl
                                  - mad
                                  - mdl
                                  - mga
                                  - mkd
                                  - mmk
                                  - mnt
                                  - mop
                                  - mur
                                  - mvr
                                  - mwk
                                  - mxn
                                  - myr
                                  - mzn
                                  - nad
                                  - ngn
                                  - nio
                                  - nok
                                  - npr
                                  - nzd
                                  - omr
                                  - pab
                                  - pen
                                  - pgk
                                  - php
                                  - pkr
                                  - pln
                                  - pyg
                                  - qar
                                  - ron
                                  - rsd
                                  - rub
                                  - rwf
                                  - sar
                                  - sbd
                                  - scr
                                  - sek
                                  - sgd
                                  - shp
                                  - sle
                                  - sos
                                  - srd
                                  - std
                                  - szl
                                  - thb
                                  - tjs
                                  - tnd
                                  - top
                                  - try
                                  - ttd
                                  - twd
                                  - tzs
                                  - uah
                                  - ugx
                                  - usd
                                  - uyu
                                  - uzs
                                  - vnd
                                  - vuv
                                  - wst
                                  - xaf
                                  - xcd
                                  - xof
                                  - xpf
                                  - yer
                                  - zar
                                  - zmw
                              - type: 'null'
                          code:
                            type: string
                        required:
                          - api_id
                          - percent_off
                          - cents_off
                          - currency
                          - code
                      - type: 'null'
                  is_captured:
                    type: boolean
                required:
                  - api_id
                  - amount
                  - amount_discount
                  - amount_tax
                  - currency
                  - coupon_info
                  - is_captured
          required:
            - api_id
            - user_api_id
            - user_email
            - user_name
            - user_first_name
            - user_last_name
            - approval_status
            - check_in_qr_code
            - checked_in_at
            - custom_source
            - eth_address
            - invited_at
            - joined_at
            - phone_number
            - registered_at
            - registration_answers
            - solana_address
            - event_tickets
            - event_ticket
            - event_ticket_orders
      required:
        - guest
    GetPublicV1EventGetGuestsResponseSchema:
      type: object
      properties:
        entries:
          type: array
          items:
            type: object
            properties:
              api_id:
                type: string
              guest:
                type: object
                properties:
                  api_id:
                    type: string
                  user_api_id:
                    type: string
                  user_email:
                    type: string
                  user_name:
                    anyOf:
                      - type: string
                      - type: 'null'
                  user_first_name:
                    anyOf:
                      - type: string
                      - type: 'null'
                  user_last_name:
                    anyOf:
                      - type: string
                      - type: 'null'
                  approval_status:
                    enum:
                      - approved
                      - session
                      - pending_approval
                      - invited
                      - declined
                      - waitlist
                  check_in_qr_code:
                    type: string
                  checked_in_at:
                    anyOf:
                      - description: >-
                          ISO 8601 Datetime. For example,
                          2022-10-19T03:27:13.673Z
                        type: string
                        format: date-time
                        pattern: >-
                          ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
                      - type: 'null'
                  custom_source:
                    anyOf:
                      - type: string
                      - type: 'null'
                  eth_address:
                    anyOf:
                      - type: string
                        format: regex
                        pattern: ^0x[0-9a-fA-F]{40}$
                      - type: 'null'
                  invited_at:
                    anyOf:
                      - description: >-
                          ISO 8601 Datetime. For example,
                          2022-10-19T03:27:13.673Z
                        type: string
                        format: date-time
                        pattern: >-
                          ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
                      - type: 'null'
                  joined_at:
                    anyOf:
                      - description: >-
                          ISO 8601 Datetime. For example,
                          2022-10-19T03:27:13.673Z
                        type: string
                        format: date-time
                        pattern: >-
                          ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
                      - type: 'null'
                  phone_number:
                    anyOf:
                      - type: string
                      - type: 'null'
                  registered_at:
                    anyOf:
                      - description: >-
                          ISO 8601 Datetime. For example,
                          2022-10-19T03:27:13.673Z
                        type: string
                        format: date-time
                        pattern: >-
                          ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
                      - type: 'null'
                  registration_answers:
                    anyOf:
                      - type: array
                        items:
                          anyOf:
                            - type: object
                              properties:
                                answer:
                                  type: boolean
                                label:
                                  type: string
                                question_id:
                                  type: string
                                question_type:
                                  const: agree-check
                              required:
                                - answer
                                - label
                                - question_id
                                - question_type
                            - type: object
                              properties:
                                answer:
                                  anyOf:
                                    - type: string
                                    - type: 'null'
                                label:
                                  type: string
                                question_id:
                                  type: string
                                question_type:
                                  const: dropdown
                              required:
                                - answer
                                - label
                                - question_id
                                - question_type
                            - type: object
                              properties:
                                answer:
                                  anyOf:
                                    - type: array
                                      items:
                                        type: string
                                    - type: 'null'
                                label:
                                  type: string
                                question_id:
                                  type: string
                                question_type:
                                  const: multi-select
                              required:
                                - answer
                                - label
                                - question_id
                                - question_type
                            - type: object
                              properties:
                                answer:
                                  anyOf:
                                    - type: string
                                    - type: 'null'
                                label:
                                  type: string
                                question_id:
                                  type: string
                                question_type:
                                  const: phone-number
                              required:
                                - label
                                - question_id
                                - question_type
                            - type: object
                              properties:
                                answer:
                                  anyOf:
                                    - type: string
                                    - const: true
                                label:
                                  type: string
                                question_id:
                                  type: string
                                question_type:
                                  const: terms
                              required:
                                - answer
                                - label
                                - question_id
                                - question_type
                            - type: object
                              properties:
                                answer:
                                  anyOf:
                                    - type: string
                                    - type: 'null'
                                label:
                                  type: string
                                question_id:
                                  type: string
                                question_type:
                                  anyOf:
                                    - const: company
                                    - const: dropdown
                                    - const: instagram
                                    - const: linkedin
                                    - const: long-text
                                    - const: multi-select
                                    - const: phone-number
                                    - const: terms
                                    - const: text
                                    - const: twitter
                                    - const: youtube
                              required:
                                - answer
                                - label
                                - question_id
                                - question_type
                            - type: object
                              properties:
                                answer:
                                  anyOf:
                                    - type: string
                                    - type: 'null'
                                label:
                                  type: string
                                question_id:
                                  type: string
                                question_type:
                                  const: url
                              required:
                                - answer
                                - label
                                - question_id
                                - question_type
                      - type: 'null'
                  solana_address:
                    anyOf:
                      - type: string
                        format: regex
                        pattern: ^[5KL1-9A-HJ-NP-Za-km-z]{32,44}$
                      - type: 'null'
                  event_tickets:
                    type: array
                    items:
                      type: object
                      properties:
                        api_id:
                          type: string
                        amount:
                          type: number
                        amount_discount:
                          type: number
                        amount_tax:
                          type: number
                        currency:
                          anyOf:
                            - enum:
                                - solana_sol
                                - solana_usdc
                                - aed
                                - afn
                                - all
                                - amd
                                - ang
                                - aoa
                                - ars
                                - aud
                                - awg
                                - azn
                                - bam
                                - bbd
                                - bdt
                                - bgn
                                - bhd
                                - bif
                                - bmd
                                - bnd
                                - bob
                                - brl
                                - bsd
                                - bwp
                                - byn
                                - bzd
                                - cad
                                - cdf
                                - chf
                                - clp
                                - cny
                                - cop
                                - crc
                                - cve
                                - czk
                                - djf
                                - dkk
                                - dop
                                - dzd
                                - egp
                                - etb
                                - eur
                                - fjd
                                - fkp
                                - gbp
                                - gel
                                - ghs
                                - gip
                                - gmd
                                - gnf
                                - gtq
                                - gyd
                                - hkd
                                - hnl
                                - htg
                                - huf
                                - idr
                                - ils
                                - inr
                                - isk
                                - jmd
                                - jod
                                - jpy
                                - kes
                                - kgs
                                - khr
                                - kmf
                                - krw
                                - kwd
                                - kyd
                                - kzt
                                - lak
                                - lbp
                                - lkr
                                - lrd
                                - lsl
                                - mad
                                - mdl
                                - mga
                                - mkd
                                - mmk
                                - mnt
                                - mop
                                - mur
                                - mvr
                                - mwk
                                - mxn
                                - myr
                                - mzn
                                - nad
                                - ngn
                                - nio
                                - nok
                                - npr
                                - nzd
                                - omr
                                - pab
                                - pen
                                - pgk
                                - php
                                - pkr
                                - pln
                                - pyg
                                - qar
                                - ron
                                - rsd
                                - rub
                                - rwf
                                - sar
                                - sbd
                                - scr
                                - sek
                                - sgd
                                - shp
                                - sle
                                - sos
                                - srd
                                - std
                                - szl
                                - thb
                                - tjs
                                - tnd
                                - top
                                - try
                                - ttd
                                - twd
                                - tzs
                                - uah
                                - ugx
                                - usd
                                - uyu
                                - uzs
                                - vnd
                                - vuv
                                - wst
                                - xaf
                                - xcd
                                - xof
                                - xpf
                                - yer
                                - zar
                                - zmw
                            - type: 'null'
                        checked_in_at:
                          anyOf:
                            - description: >-
                                ISO 8601 Datetime. For example,
                                2022-10-19T03:27:13.673Z
                              type: string
                              format: date-time
                              pattern: >-
                                ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
                            - type: 'null'
                        event_ticket_type_api_id:
                          type: string
                        is_captured:
                          type: boolean
                        name:
                          type: string
                      required:
                        - api_id
                        - amount
                        - amount_discount
                        - amount_tax
                        - currency
                        - checked_in_at
                        - event_ticket_type_api_id
                        - is_captured
                        - name
                  event_ticket:
                    anyOf:
                      - type: object
                        properties:
                          api_id:
                            type: string
                          amount:
                            type: number
                          amount_discount:
                            type: number
                          amount_tax:
                            type: number
                          currency:
                            anyOf:
                              - enum:
                                  - solana_sol
                                  - solana_usdc
                                  - aed
                                  - afn
                                  - all
                                  - amd
                                  - ang
                                  - aoa
                                  - ars
                                  - aud
                                  - awg
                                  - azn
                                  - bam
                                  - bbd
                                  - bdt
                                  - bgn
                                  - bhd
                                  - bif
                                  - bmd
                                  - bnd
                                  - bob
                                  - brl
                                  - bsd
                                  - bwp
                                  - byn
                                  - bzd
                                  - cad
                                  - cdf
                                  - chf
                                  - clp
                                  - cny
                                  - cop
                                  - crc
                                  - cve
                                  - czk
                                  - djf
                                  - dkk
                                  - dop
                                  - dzd
                                  - egp
                                  - etb
                                  - eur
                                  - fjd
                                  - fkp
                                  - gbp
                                  - gel
                                  - ghs
                                  - gip
                                  - gmd
                                  - gnf
                                  - gtq
                                  - gyd
                                  - hkd
                                  - hnl
                                  - htg
                                  - huf
                                  - idr
                                  - ils
                                  - inr
                                  - isk
                                  - jmd
                                  - jod
                                  - jpy
                                  - kes
                                  - kgs
                                  - khr
                                  - kmf
                                  - krw
                                  - kwd
                                  - kyd
                                  - kzt
                                  - lak
                                  - lbp
                                  - lkr
                                  - lrd
                                  - lsl
                                  - mad
                                  - mdl
                                  - mga
                                  - mkd
                                  - mmk
                                  - mnt
                                  - mop
                                  - mur
                                  - mvr
                                  - mwk
                                  - mxn
                                  - myr
                                  - mzn
                                  - nad
                                  - ngn
                                  - nio
                                  - nok
                                  - npr
                                  - nzd
                                  - omr
                                  - pab
                                  - pen
                                  - pgk
                                  - php
                                  - pkr
                                  - pln
                                  - pyg
                                  - qar
                                  - ron
                                  - rsd
                                  - rub
                                  - rwf
                                  - sar
                                  - sbd
                                  - scr
                                  - sek
                                  - sgd
                                  - shp
                                  - sle
                                  - sos
                                  - srd
                                  - std
                                  - szl
                                  - thb
                                  - tjs
                                  - tnd
                                  - top
                                  - try
                                  - ttd
                                  - twd
                                  - tzs
                                  - uah
                                  - ugx
                                  - usd
                                  - uyu
                                  - uzs
                                  - vnd
                                  - vuv
                                  - wst
                                  - xaf
                                  - xcd
                                  - xof
                                  - xpf
                                  - yer
                                  - zar
                                  - zmw
                              - type: 'null'
                          checked_in_at:
                            anyOf:
                              - description: >-
                                  ISO 8601 Datetime. For example,
                                  2022-10-19T03:27:13.673Z
                                type: string
                                format: date-time
                                pattern: >-
                                  ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
                              - type: 'null'
                          event_ticket_type_api_id:
                            type: string
                          is_captured:
                            type: boolean
                          name:
                            type: string
                        required:
                          - api_id
                          - amount
                          - amount_discount
                          - amount_tax
                          - currency
                          - checked_in_at
                          - event_ticket_type_api_id
                          - is_captured
                          - name
                      - type: 'null'
                required:
                  - api_id
                  - user_api_id
                  - user_email
                  - user_name
                  - user_first_name
                  - user_last_name
                  - approval_status
                  - check_in_qr_code
                  - checked_in_at
                  - custom_source
                  - eth_address
                  - invited_at
                  - joined_at
                  - phone_number
                  - registered_at
                  - registration_answers
                  - solana_address
                  - event_tickets
                  - event_ticket
            required:
              - api_id
              - guest
        has_more:
          type: boolean
        next_cursor:
          type: string
      required:
        - entries
        - has_more
    GetPublicV1UserGetSelfResponseSchema:
      type: object
      properties:
        user:
          type: object
          properties:
            api_id:
              type: string
            email:
              type: string
            name:
              anyOf:
                - type: string
                - type: 'null'
            first_name:
              anyOf:
                - type: string
                - type: 'null'
            last_name:
              anyOf:
                - type: string
                - type: 'null'
            avatar_url:
              type: string
          required:
            - api_id
            - email
            - name
            - first_name
            - last_name
            - avatar_url
      required:
        - user
    GetPublicV1CalendarListPersonTagsResponseSchema:
      type: object
      properties:
        entries:
          type: array
          items:
            type: object
            properties:
              api_id:
                type: string
              name:
                type: string
              color:
                type: string
              created_at:
                description: ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z
                type: string
                format: date-time
                pattern: >-
                  ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
            required:
              - api_id
              - name
              - color
              - created_at
        has_more:
          type: boolean
        next_cursor:
          type: string
      required:
        - entries
        - has_more
    GetPublicV1EntityLookupResponseSchema:
      type: object
      properties:
        entity:
          anyOf:
            - anyOf:
                - type: object
                  properties:
                    type:
                      const: calendar
                    calendar:
                      type: object
                      properties:
                        api_id:
                          type: string
                        name:
                          type: string
                        slug:
                          anyOf:
                            - type: string
                            - type: 'null'
                        avatar_url:
                          anyOf:
                            - type: string
                            - type: 'null'
                      required:
                        - api_id
                        - name
                        - slug
                  required:
                    - type
                    - calendar
                - type: object
                  properties:
                    type:
                      const: event
                    event:
                      type: object
                      properties:
                        api_id:
                          type: string
                        name:
                          type: string
                        slug:
                          type: string
                        cover_url:
                          type: string
                        start_at:
                          description: >-
                            ISO 8601 Datetime. For example,
                            2022-10-19T03:27:13.673Z
                          type: string
                          format: date-time
                          pattern: >-
                            ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
                        end_at:
                          description: >-
                            ISO 8601 Datetime. For example,
                            2022-10-19T03:27:13.673Z
                          type: string
                          format: date-time
                          pattern: >-
                            ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z|([+-]\d{2}:?\d{2}))$
                      required:
                        - api_id
                        - name
                        - slug
                        - cover_url
                        - start_at
                        - end_at
                  required:
                    - type
                    - event
            - type: 'null'
[...]
